# SPDX-FileCopyrightText: none
# SPDX-License-Identifier: CC0-1.0

### Rust
/target/

### Vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

### JetBrains
*.iml
.idea/

### Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Linters
.ruff_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

### Doc
/doc/build/
/doc/api/build/

### Runtime data
var/*
!var/dionaea/
dionaea.jsonl
dionaea.sqlite
