[tool.tox]
legacy_tox_ini = """
# SPDX-FileCopyrightText: none
# SPDX-License-Identifier: CC0-1.0

[tox]
envlist =
    lint
skip_missing_interpreters = true

[testenv:lint]
# deps = ruff, mypy
allowlist_externals = ruff, mypy
skip_install = true
commands = ruff check {toxinidir}/modules
           mypy {toxinidir}/modules
"""
